APP_TYPE=stage
MAX_GAMES=
ENABLE_EPIC=true
ENABLE_STEAM=true
EPIC_BROWSER_HEADLESS=true
EPIC_BROWSER_CHANNEL=chrome
EPIC_BROWSER_EXECUTABLE_PATH=

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=free_games
MYSQL_USER=free_games_bot
MYSQL_PASSWORD=

BOT_TOKEN=
CHAT_ID=

BOT_TOKEN_DEV=
CHAT_ID_DEV=
